@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  background: hsl(0, 0%, 9%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  position: relative;
  bottom: -15vh;
  left: 4vh;
  text-align: center;
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  opacity: 0.75;
  animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.loading {
  position: relative;
  width: 75px;
  height: 100px;
  margin-left: -5%;
}

.loading > .bar {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 50%;
  background: #fac000;
  transform-origin: center bottom;
  animation: bar 4s infinite;
}

.loading > .bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: naik1 4s infinite;
}

.loading > .bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: naik2 4s infinite;
}

.loading > .bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: naik3 4s infinite;
}

.loading > .bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: naik4 4s infinite;
}

.loading > .bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: naik5 4s infinite;
}

.loading > .kotak {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #fac000;
  animation: kotak 4s infinite;
}

@keyframes kotak {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes naik1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes naik2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes naik3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes naik4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes naik5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
