@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.home .bg-light {
  background-color: #cfe9e5 !important;
}

.service .bg-light {
  background-color: #e8f2f1 !important;
}

.service h2 {
  text-align: center;
  color: #28786c;
}

.whyus h1 {
  text-align: center;
}

.whyus h2 {
  text-align: center;
  color: #28786c;
}

.whyus p {
  text-align: center;
  justify-content: center;
}

.d-flex b {
  color: #28786c;
}

.price {
  background-color: #e8f2f1 !important;
}

.price .container {
  text-align: center;
  justify-content: center;
}

.price h2 {
  color: #28786c;
}

.price .h2 {
  color: #28786c;
}

.contact h2 {
  text-align: center;
  color: #28786c;
}

.service .btn-secondary {
  color: #fff;
  border-color: #28786c;
  background-color: #28786c;
}

.price .btn-secondary {
  color: #fff;
  border-color: #28786c;
  background-color: #28786c;
}

.contact .btn-secondary {
  color: #fff;
  border-color: #28786c;
  background-color: #28786c;
}

.profile-dropdown {
  display: inline-block;
  position: relative;
  margin: auto;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 3px;
}

.profile-dropdown input[type="checkbox"] {
  display: none;
}

.profile-dropdown input[type="checkbox"]:checked ~ ul {
  display: block;
  animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked ~ label i {
  color: #cfe9e5;
}

.profile-dropdown input[type="checkbox"]:checked ~ label:after {
  content: "";
  position: absolute;
  top: 100%;
  right: calc(50% - 10px);
  display: block;
  border-style: solid;
  border-width: 7px 10px 0 10px;
  width: 0;
  height: 0;
}

.profile-dropdown img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  margin: 0.5rem 0.75rem 0.5rem 0.5rem;
  border-radius: 50%;
}

.profile-dropdown span {
  display: inline-block;
  vertical-align: sub;
  width: 45px;
  margin-right: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-dropdown ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border-radius: 3px;
}

.profile-dropdown ul li a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #737373;
  font-size: 1rem;
}

.profile-dropdown ul li a i {
  font-size: 0.5rem;
  vertical-align: middle;
  margin: 0 0.75rem 0 -0.25rem;
}

.profile-dropdown ul li a:hover {
  background: #e5e5e5;
}

.profile-dropdown ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}

.profile-dropdown ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}

.profile-dropdown > label {
  position: relative;
  height: 3.5rem;
  display: block;
  text-decoration: none;
  background: transparent;
  color: #cfe9e5;
  box-sizing: border-box;
  padding: 0.2rem;
  float: right;
  border-radius: 0 3px 3px 0;
}

.profile-dropdown > label i {
  color: #cfe9e5;
  font-size: 0.2rem;
}

.profile-dropdown:after {
  content: "";
  display: table;
  clear: both;
}
